{% extends 'index.html' %}
{% block body %}
<div class="container">
  <section class="container_header">
    <div class="topnav">
      <div class="topnav_menu">
        <a href="/">Home</a>
        <a href="#About">About</a>
      </div>
      <a href="Register()">Login/Register</a>
    </div>
    <div class="header_title">
      <h2> WELCOME TO CLASS COMMUNITY</h2>
    </div>
    <div class="header_btn">
      <button ng-click="Register()">Join</button>
    </div>  
  </section>
  <section class="container_about">
<a class="container_about-link" name="About">About</a>
  </section>

</div>
{% endblock %}