{% extends 'index.html' %}
{% block body %}
<style type="text/css">
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
<div class="container">
	<section class="login-section">
		<div class="login-section__header">
			<div class="logo">
				
			</div>
		</div>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="#About">About</a>
      <a href="Register()">Login/Register</a>
    </div>
    <div>
</div>
		<div> <img src="https://trello-attachments.s3.amazonaws.com/5c0a5c276edc874d649ca0a5/5c0a5d9477aad816dd2d0ff2/244026355971583e519e4b10e8595e6b/adult-business-casual-1559104_(1).jpg" width="100%" height="100%">
			WELCOME TO CLASS COMMUNITY
			<button ng-click="Register()">Join</button>
<a name="About"></a>
CLASS COMMUNITY is a social network for communication in groups. With it, you can create or join already existing discussions, which for your convenience are divided into categories.

Using chat rooms, the teacher will be able to easily inform his class about homework assignments, adjust the schedule, publish school news and announcements around the class, bring up the topic for discussion and receive feedback from each student. The teacher can add photos, links to interesting books, useful materials, tests, questionnaires - that is, everything that the children will be interested in and useful to read. Such a virtual space creates a sense of team cohesion, friendly relations with the class teacher. Also, the teacher can create a separate chat for parents to communicate with them separately.

CLASS COMMUNITY allows you to search for partners and trainers in your chosen sport, publish notes about your workouts, communicate with friends with whom you, for example, go to fitness, talk about your successes, and keep a photo journal of workouts.
		</div>
	</section>
</div>
{% endblock %}