<div class="wrapper_settings">
	<div class="settings_header">
		<h2>Your Profile</h2>
		<label for="userAvatarUrlId"><img ng-src={{u.avatarUrl}} alt="" width="50px;" height="50px;" class="avatar"></label>
	</div>
	<div class="settings_block">
		<div class="settings_block-first">
			<input id="settings_name" type="text" placeholder="Enter Your Name" ng-model="u.name">
			<input id="settings_email" type="email" ng-model="u.email" placeholder="Type your email..." name="email" class="">
			<input id="settings_age" type="text" placeholder="Enter Your Age" ng-model="u.data.age">
		</div>
		<div class="settings_block-second">
			<input class="settings_block--phone" id="phone" type="number" ng-model="u.data.number" placeholder="Your phone">
			<div class="settings_block--gender">
				<label>Choose sex:</label>
				<div>
					<i class="fas fa-mars"></i> <label style="width: auto;" for="settings_man"> Man</label>
					<input id="settings_man" type="Radio" name="gender" ng-model="u.data.gender" ng-value="false">
					<!-- <i class="fas fa-female"></i> --><i class="fas fa-venus"></i> <label style="width: auto;" for="settings_woman">
						Woman </label>
					<input id="settings_woman" type="Radio" name="gender" ng-model="u.data.gender" ng-value="true">
				</div>
			</div>
		</div>
	</div>

	<div class="settings_password">
		<label>Change password:</label>
		<input id="settings_pass" type="password" placeholder="Old Password" ng-model="u.oldPass">
		<input id="settings_newpass" type="password" placeholder="New Password" ng-model="u.newPass">
	</div>
	<div class="settings_btn" ng-click="u.update(); close();">
		<input type="submit" value="Save changes">
	</div>
</div>