{% extends 'index1.html' %}
{% block body %}
	<div class="category" ng-controller="Rooms">
		<div class="category-education">
			<img  src="/img/category_education.jpg">
			<div class="category_title">Education</div>
			<div class="category_number"><span>123</span> Rooms</div> 
		</div>
		<button ng-click="r.NewRoom();"></button>
		<!-- <div class="category-sport"></div>
		<div class="category-dance"></div>
		<div class="category-languages"></div>
		<div class="category-music"></div>
		<div class="category-trainings"></div>
		<div class="category-art"></div>
		<div class="category-games"></div>
		<div class="category-health"></div>
		<div class="category-cooking"></div> -->
	</div>
{% endblock %}