<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat Page</title>
	<meta name="description" content="The room has its own chats, which creates the admin of the room or the members themselves">
	<meta name="keywords" content="CLASS COMMUNITY, room, chats, creates, admin, members, themselves, category, rooms, user, join, create, social network, communication, groups, create, join, discussions, convenience, categories, chat rooms, teacher, class, homework, assignments, schedule, publish school news, announcements, class, discussion, feedback, student, add photos, links, books, useful materials, tests, questionnaires children, read, virtual space, sense, team cohesion, friendly relations, chat, parents, communicate, search, partners, trainers, sport, publish notes, workouts, friend, fitness, talk, successes, photo journal,">
	<meta name="author" content="Honchar Denys">
	<base href="/">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
 	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78236546-11"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
 	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
 	gtag('config', 'UA-78236546-11');
	</script>
 </head>
<body> 
	<div  ng-controller="Users">

	<div class="topnav">
	<div class="topnav_menu">
		<a href="/">Home</a>
		<a href="#About">About</a>
		<div>
			<a href="/html/public/Categories.html">Categories</a>
			<a href="/html/public/Rooms.html">Rooms</a>
			
		</div>
	</div>
	<div class="top_nav-login">
		<div><a href="/api/user/logout">Logout</a></div>
		<img ng-click="u.Settings()" ng-src="{{u.avatarUrl}}">
		
	</div>
	</div>
	<section>
		<div class="wrapper_chats">
			<div class="chats_bar">
				<img class="" src="/img/category_education.jpg">
				<h3>Chat name</h3>
				<div class="chat_bar_content">
					<div class="chats_bar-admin">
						Admin: <span> Name</span>
					</div>
					<div class="chats_bar-members">
						Mebmers <span>38</span>
					</div>
					<!-- <div class="chats_bar-add">
						Albom
						<button><i class="fas fa-plus-circle"></i></button>
					</div> -->
					<div class="chats_bar-desc">
						<h3>Description:</h3>
						<textarea name="" id="" cols="30" rows="10" readonly></textarea>
					</div>
				</div>
			</div>
			<div class="chat_block">
				<div class="chat_block-topbar">
					<div><button ng-click="u.Albom()">Albom <i class="fas fa-camera"></i></button></div>
					<div><button ng-click="u.SettingsChat()">Setings  <i class="fas fa-cog"></i></button></div>
				</div>
				<div class="chat_block-viewer">
					<div>
						<h4>Name :</h4> <span>Massage</span>
					</div>					
				</div>
				<div class="chat_block-writting">
					<input type="text">
					<button>Send</button>
				</div>

			</div>
	</section>
</div>
	<script src="/gen/public-min.js"></script>
	<script>
		var app = angular.module('ngapp',['wcom']);
	</script>
	<script src="/js/wcom/wcom.js"></script>
	<script src="/js/crud.js"></script>
	<script src="/js/user.js"></script>
	<script src="/js/public.js"></script>
</body>
</html> 