<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rooms Page</title>
	<meta name="description" content="In each category there are rooms to which the user can join or create their own room.">
	<meta name="keywords" content="In each category there are rooms to which the user can join or create their own room.">
	<meta name="author" content="Honchar Denys">
	<base href="/">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
 	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78236546-11"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
 	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
 	gtag('config', 'UA-78236546-11');
	</script>
 </head>
<body>
	    <div class="topnav">
      <div class="topnav_menu">
        <a href="/">Home</a>
        <a href="#About">About</a>
        <div ng-if="u._id">
          <a href="/html/public/Categories.html">Categories</a>
          <a href="/html/public/Rooms.html">Rooms</a>
         
        </div>
      </div>
      <div class="top_nav-login">
        <div><a href="/api/user/logout">Logout</a></div>
        <img ng-click="u.Settings()" ng-src="{{u.avatarUrl}}">
        
      </div>
  		</div>
	<script src="/gen/public-min.js"></script>
	<script>
		var app = angular.module('ngapp',['ui.router', 'wcom']);
	</script>
	<script src="/js/wcom/wcom.js"></script>
	<script src="/js/crud.js"></script>
	<script src="/js/user.js"></script>
</body>
</html> 